[2018-02-14 20:35] eblondel opened #1 "Set-up package structure"

[2018-02-14 21:22] eblondel opened #2 "WFS Client - basic support"

[2018-02-16 00:58] #1 closed

[2018-02-16 07:57] eblondel opened #3 "CSW (Catalogue Service for the Web) Client"
Versions
- [ ] ``2.0.2``

Operations
- [ ] GetCapabiliteis
- [ ] GetRecordById
- [ ] GetRecords
- [ ] Harvest
- [ ] Transaction

[2018-02-16 20:43] eblondel opened #4 "OWS (Common Web-Service)"
Versions
- [x] ``1.1.0``

Classes
- [x] ServiceIdentification
- [x] ServiceProvider
- [x] OperationsMetadata
     - [x] Operation

[2018-06-24 22:08] eblondel opened #5 "OGC Filter Encoding + XML representation"

[2018-07-01 20:11] eblondel opened #6 "Unexpected curl_fetch_memory error on travis-ci"
On Travis-ci: https://travis-ci.org/eblondel/ows4R/jobs/398918995

[code]

Installed packages on Travis-ci / R release:

[code]

On local machine, no problem:

[code]

[2018-07-02 13:21] eblondel commented on #6
Dear @jeroen, I'm writing here about an issue i'm facing that apparently deals with the ``curl_fetch_memory`` if I follow the stacktrace. I'm stuck on this, it sounds a problem with the Travis-ci environment (OS and Gunicorn http server) but I cannot figure out what's wrong. On my local machine (Win) it works well but when running it on Travis-ci, it still fails with the following error: **transfe

[2018-07-02 13:25] eblondel opened #7 "1st release on CRAN"
1st release on CRAN will cover:
* FES ``1.1.0``
* OWS ``1.1`` possibly ``2.0``
* WFS ``1.0.0``,``1.1.1``,``2.0.0``
* CSW ``2.0.2`` possibly ``3.0``

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60383766-1st-release-on-cran?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties

[2018-07-17 21:23] eblondel opened #8 "Allow authentication on OWS Requests"

[2018-07-17 23:26] #8 closed

[2018-07-17 23:55] #5 closed

[2018-07-28 15:14] #6 closed

[2018-07-28 15:14] #4 closed

[2018-08-24 12:48] eblondel opened #9 "WCS (Web Coverage Service) Client"
**Versions**

WCS version | OWS version | Supported
---------------|---------------|------------
[``1.0.0``](http://localhost:8080/geoserver/ows?service=wcs&version=1.0.0&request=GetCapabilities)|``1.1``|ongoing
[``1.1.0``](http://localhost:8080/geoserver/ows?service=wcs&version=1.1.0&request=GetCapabilities)|``1.1``| ongoing
[``1.1.1``](http://localhost:8080/geoserver/ows?service=wcs&version=1.1.

[2018-08-24 12:49] eblondel opened #10 "WPS (Web Processing Service) Client - version 1.0.0"
- [x] WPS `1.0.0` GetCapabilities
- [x] WPS `1.0.0` DescribeProcess
- [x] WPS `1.0.0` Execute

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62564431-wps-web-processing-service-client?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysou

[2018-09-01 07:36] #7 closed

[2018-09-17 22:57] eblondel opened #12 "Issue with maxRecords parameter scope in getRecords"
``maxRecords`` parameters refers to the number of records per CSW results _page_ in the CSW standard. However, in ``getRecords(...)`` operation, ``maxRecords`` should apply to the number of records retrieved in total for the getRecords.

[2018-09-17 23:00] eblondel opened #13 "Bad XML encoding of OGC BBOX Expression"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/63502155-bad-xml-encoding-of-ogc-bbox-expression?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=

[2018-09-18 05:38] #13 closed

[2018-09-30 22:31] eblondel opened #14 "debug parameter shouldn't be passed to WFS requests"
non-blocking bug.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64081614-debug-parameter-shouldn-t-be-passed-to-ows-request?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18146274

[2018-09-30 22:33] eblondel opened #15 "generalize auth to clients/requests"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64081634-generalize-auth-to-clients-requests?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=gith

[2018-10-08 14:44] eblondel opened #16 "add function to reload client capabilities"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64444042-add-function-to-reload-client-capabilities?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_sour

[2018-10-08 15:48] #16 closed

[2018-10-19 06:25] jannes-m opened #17 "WFS problems with geometry column and text conversion"
Hi Emmanuel,
first, thank you again for developing OGC web services for R! I have played around a bit with your package, and stumbled across two potential bugs.
1. When loading data into R, you seem to look for a `geometry` column (or tag), however, sometimes the column (tag) containing the geometry is unfortunately not named geometry, as is the case with this Dutch example where it is called "geo

[2018-10-19 06:48] eblondel commented on #17
Thanks, I will have a look.  I already use "sf" as main binding for simple features. The problem is not really about the binding but the fact that WFS allows to return geometryless data. I will look to a better (more generic) way to handle this. Some of the recent GML improvements in geometa might help. I will let you know. 2d point seems to be related to a missing data type.

I'm also aware of so

[2018-10-19 07:35] eblondel opened #18 "Issue with missing EPSG:404000 code not found in init file"
Test case: Global namespace of VLIZ geoserver. Missing EPSG:404000

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64965441-issue-with-missing-epsg-404000-code-not-found-in-init-file?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2018-10-19 08:49] Robinlovelace commented on #17
Wow great to see upstream contributions on this. Many thanks for quick-fire response @eblondel !

[2018-10-19 09:05] eblondel commented on #18
https://github.com/jswhit/pyproj/issues/101

[2018-10-19 09:18] eblondel commented on #17
@jannes-m i'm going to have a look to it asap, btw, looking at the code you run above, if you want to list the layers, there is a method "getFeatureTypes" that you can use:

``
sapply(caps$getFeatureTypes(), function(x){x$getName()})
``

[2018-10-19 09:52] eblondel opened #19 "mapping FeatureType datatypes fails with case sensitive datatypes"
It sounds that datatypes are sometimes written as lowercase or camel case depending on the datasources (possibly depending on the back-end data store used behind the OGC services).

In the case of point 1 highlighted in #17, this prevents from fetching feature type description properly.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2018-10-19 09:58] eblondel opened #20 "Support feature type both xs/xsd types & elements restrictions in WFS FeatureTypeElement"
Test case: http://www.lfu.bayern.de/gdi/wfs/naturschutz/schutzgebiete?service=WFS&version=1.0.0&typeName=lfu:nationalpark&request=DescribeFeatureType from #17 user feedback

[2018-10-19 09:58] #19 closed

[2018-10-19 10:04] eblondel commented on #17
@jannes-m your point 1 above is solved with #19 . For the 2d one, this requires an enhancement as it deals with feature type with type elements restrictions that i never had to deal with in WFS. I will look at time once i have free time.

[2018-10-19 13:50] #20 closed

[2018-10-19 13:55] eblondel commented on #17
Ok it should be ok now the both sources you've shared.

In case you get other issues, you can raise another ticket. You should not need to read through sf directly, ows4R is doing it for you but also checks your data against its schema, handled by the FeatureType description). So the natural binding for this WFS client is "sf" (being an implementation of OGC standard), and you can then run ``as(yo

[2018-10-22 09:03] jannes-m commented on #17
Excellent, fantastic work!! Only this warning message might cause confusion when getting the Bavarian National Parcs:

[code]
I would probably suppress it since you are only using the `getDefaulCRS()` I suppose.

[2018-10-22 09:45] eblondel commented on #17
@jannes-m yes i've seen this warning, I will try to find sometimes to better understand why we get this, and suppress it if it's ok.

[2018-10-22 11:14] jannes-m commented on #17
let me have a quick look at the source code but I guess you are using `st_crs` to set the CRS, and apparently there is already a crs but yes, let me take a look

[2018-10-22 11:45] jannes-m commented on #17
in your code I found:

https://github.com/eblondel/ows4R/blob/c1557c27c7129c624cfa64f74c99ecb8acd09071/R/WFSFeatureType.R#L247-L249

The warning message is issued since `read_sf()` has already found a CRS in the Bavarian National Parc case. I don't know if this is usually the case with `.gml` files but I would guess so, hence you could just delete the `st_crs()` line. Just to be on the safe side y

[2018-10-22 13:12] eblondel commented on #17
I've checked and the warning is not raised by this piece of code, I will investigate further and let you know.

[2018-10-22 14:38] jannes-m commented on #17
Are you sure? Have a look at this reproducible example:
[code]

<sup>Created on 2018-10-22 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Could be that **sf** does not complain if you are "overwriting" a geographic CRS with the same geographic CRS but does complain if you do so with a projected CRS but this is just educated guessing (see also last three lines of the reproduc

[2018-10-22 14:47] eblondel commented on #17
I don't get the second warning you get: ``st_crs<- : replacing crs does not reproject data; use st_transform for that``

only the one dealing with GDAL. For safety, i've added a simple control on crs https://github.com/eblondel/ows4R/commit/ab5e1f260a56291a4bbc2826caa5d35e3e2f645a, in case, and overwrite it only if no crs is found. Can you please reinstall, test and let me know, normally you shoul

[2018-10-22 15:32] edzer commented on #17
`st_crs<-` will emit a warning if the crs assigned is different from the one present. Equality between two CRS is determined by GDAL, and does not always what we think it should do.

[2018-10-22 16:56] eblondel commented on #17
Thanks for this, I will have a look as soon as i get some time (probably
tonight). Cheers

Le 22/10/2018 à 13:45, Jannes Muenchow a écrit :

--

[2019-01-30 10:47] eblondel opened #21 "Test insertion / update of multi-lingual metadata records"
In relation with https://github.com/eblondel/geometa/issues/104

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/69392012-test-insertion-update-of-multi-lingual-metadata-records?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/

[2019-02-05 11:27] eblondel opened #22 "CSW - Insert Record fails if feature catalogue description has no UUID"
When a metadata has a contentInfo/ feature catalogue description, such as generated by geometa (see example of metadata [here](https://github.com/eblondel/geometa/blob/master/tests/testthat/test_ISOMetadata.R), the missing uuid attribute on this node induces the following insert error: `` record parsing failed: 'uuidref' ``

This is for testing purpose, the issue is more likely to occur in [geomet

[2019-02-05 17:07] #21 closed

[2019-02-05 21:02] eblondel commented on #21
Tested on both pycsw and geonetwork CSW servers

[2019-02-25 14:09] eblondel commented on #18
According to [GeoServer team](https://osgeo-org.atlassian.net/browse/GEOS-8993?focusedCommentId=79737&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-79737), EPSG:404000 is a special wildcard used when there is no actual world-based coordinate system used. A special rule has been set to assign a CRS as ``NA`` for data being referenced with EPSG:404000 in such way re

[2019-02-25 18:09] #18 closed

[2019-05-29 15:20] nuest opened #23 "SOS (Sensor Observation Service) support"
:clap: Great job and initiative with this package :clap:

Just if you're thinking about adding support for OGC Sensor Observation Service (just sneaking a few keywords in here: Observations & Measurements, SensorML), I'd by happy to have a discussion since there is already a package for that: `sos4R`: https://cran.r-project.org/package=sos4R

In an ideal world I would rewrite everything to re-use

[2019-05-29 16:26] eblondel commented on #23
Hello @nuest thanks for your message

Until now the perspectives I had in mind were to focus on those OGC standards that are not yet supported. For example, it's in plan to support the addition of a WCS client, that I've started drafting, or for which i'm seeking sponsors to consolidate and push it within ows4R. Same for WPS.

For those OGC standards already supported in R packages, I would actual

[2019-06-18 19:36] eblondel opened #24 "improve getFeatureTypes"
- add wrapper into ``WFSClient`` for convenience
- add parameter ``pretty`` to retrieve by dataframe

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/75708063-improve-getfeaturetypes?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource

[2019-06-19 21:20] #24 closed

[2019-08-02 11:18] juldebar opened #25 "Publish metadata on geonode by using CSW-T"
I have an error when trying to publish on geonode (pycsw behind the scene) by using CSW-T
ows4R can connect the CSW server but can not insert the XML.
By discussing with the geonode administrator, it looks like there is an issue with the authentication of the user because, when using pycsw with geonode, the authentication for CSW-T is different from the native authentication of pycsw (through IPs)

[2019-08-02 12:31] eblondel opened #26 "Add support for Bearer (token) authentication"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78131274-add-support-for-bearer-token-authentication?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_sou

[2019-08-02 13:19] eblondel commented on #25
I've added support for Bearer authentication scheme at #26 . Waiting for more infos from Geonode team at https://gitter.im/GeoNode/general

[2019-08-05 19:41] #26 closed

[2019-08-05 21:11] #17 closed

[2019-08-05 21:11] #14 closed

[2019-08-08 14:56] devineyfajr opened #27 "error returned by wfs$getFeatures: Error in CPL_read_ogr(dsn, layer, query, as.character(options), quiet, : NULL error in sfc_from_ogr"
I can't share data or geoserver address, but basically everything seems to work up to the query for the simple feature:
wfs = WFSClient$new(url=<geoserver url>", serviceVersion="2.0.0",
                    user="admin", pwd="geoserver")
wfs$getCapabilities()
wfs$getFeatureTypes(T)

## get capabilities
caps <- wfs$getCapabilities()
## find feature type
ft <- caps$findFeatureTypeByName("name1:name2"

[2019-08-08 16:02] eblondel commented on #27
Hi @devineyfajr , hard to debug without the URL example. If you can send it by email. Otherwise, there is something that miss in the cql_filter, you need to set it within ``URLencode``. For the time being I didn't make it part of the function itself. This may be improved in a near future.

For the time being, do that:

[code]

[2019-08-08 16:27] devineyfajr commented on #27
That didn't help. I'b going to try some different layers.

[2019-08-08 16:42] devineyfajr commented on #27
That error was for a polygon layer. Point layers give a different error:

[2019-08-08 16:47] eblondel commented on #27
If you can send it the geoserver URL by email (emmanuel.blondel1@gmail.com), please. I'm afraid I can't help if i can't reproduce it, and for that I need to do the same piece of code you do. Also send me your R session details, package versions, etc.

[2019-08-08 16:57] devineyfajr commented on #27
Sorry, I can't do that. Thanks for your help anyway.

[2019-08-08 17:27] eblondel commented on #27
Ok, so let's try in blind way:
* If the service can be requested anonymously (default behavior), then do not set these parameters, possibly this is what make the requests fail. If your WFS needs an authentification, specify user/pwd.
* In case maybe try to request a lower service version. Try ``1.0.0`` or ``1.1.0``.

[2019-08-08 17:34] devineyfajr commented on #27
Switching to 1.0.0 worked. Didn't try 1.1.0. Cool.

[2019-08-08 17:59] eblondel commented on #27
Great, you can try 1.1.0, it should work. On my side, I will run deeper tests on 2.0.0, to see if I detect issues with the geoservers I have under my umbrella. Best

[2019-08-09 06:42] #27 closed

[2019-08-14 05:23] kikislater commented on #25
Reporting as issue here :

https://github.com/GeoNode/geonode/issues/4732

[2019-08-14 08:28] eblondel opened #28 "Support geometa record validate/inspire options in CSW-T"
To enhance the CSW-T methods to support geometa record validation ``geometa_validate`` (for ISO/OGC schema validation, default = TRUE) and ``geometa_inspire`` (INSPIRE validation through remote INSPIRE web-service)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78723338-support-geometa-record-validate-inspire-options-in-csw-t?utm_c

[2019-08-16 13:34] eblondel commented on #28
The INSPIRE validation is operated by [geometa](https://github.com/eblondel/geometa) through the new INSPIRE reference validator. See https://github.com/eblondel/geometa/issues/156

[2019-08-16 13:41] #28 closed

[2019-08-25 13:51] kikislater commented on #25
Could be related to this : https://github.com/geopython/pycsw/issues/256

[2019-08-30 10:45] ghost opened #29 "WFS paging support"
Great work with this package!

It would be great if the WFS functionality would support paging.
Therefore, checking how many features are requested, what the per-request limit is, and iterate till all features are downloaded.

[code]

This workaround to inform about the amount of features (resultType = 'hits') did not work, because the response of getFeatures is automatically coerced to a sf objec

[2019-08-30 15:38] eblondel commented on #29
Thanks @mcdesignnl for reporting this, I'll look at it ASAP.

[2019-09-02 07:19] eblondel opened #30 "WFS - Handle Resulttype Hits get features response"
Adding resulttype with value ``hits`` to the ``$getFeatures(...)`` method breaks because the latter forces coercing to sf object. Some condition should be added to managed result hits in case this param is given by user.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/79747375-wfs-handle-resulttype-hits-get-features-response?utm_cam

[2019-09-02 07:20] eblondel commented on #30
Related to #29

[2019-09-02 08:59] #30 closed

[2019-09-02 09:38] eblondel commented on #29
@mcdesignnl I've added some code to manage resultType, see #30  when it's not set to ``features`` (default) but ``hits`` instead. For the WFS paging, I will look at it, but it requires more thinking how to refactor the actual code. This is a specific feature of WFS 2.0

[2019-09-02 09:58] mcdesignnl commented on #29
@eblondel wow, thank you for adding this fix so soon. This allows me to implement a very rudimentary paging support myself.

[2019-09-05 14:57] kikislater commented on #25
Needs time : not yet implemented in Geonode => https://github.com/GeoNode/geonode/issues/2467#issuecomment-528387538

To test it we need tu use this Geonode commit :
https://github.com/GeoNode/geonode/compare/master...tomkralidis:csw-t

And this PyCSW's dependency commit here : https://github.com/geopython/pycsw/compare/master...tomkralidis:geonode-csw-t )

[2019-10-30 08:13] eblondel opened #31 "CSW-T inserted metadata do not show WMS/download links in Geonetwork"
WMS/download online resources are only show if the user is logged into Geonetwork, despite the CSW-T config for inserted public metadata is enabled. If requested anonymously, the metadata is not showing download and interactive map online resources.

It seems these privileges are not enabled together with "Publish" when metadata is inserted with CSW-T.

<bountysource-plugin>

---
Want to back this

[2019-10-30 09:21] eblondel commented on #31
A ticket has been issued to Geonetwork team here: https://github.com/geonetwork/core-geonetwork/issues/4156

cc @wheintz @juldebar @juliettefabre you might be interested in knowing this limitation

[2019-11-05 16:51] #22 closed, assigned to eblondel

[2019-11-12 15:27] eblondel opened #32 "Regression with WFS getfeatures - issue when setting CQL_filter"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83608186-regression-with-wfs-getfeatures-issue-when-setting-cql_filter?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F18146274&utm_med

[2019-11-12 18:40] #32 closed

[2020-01-28 14:39] mrouan opened #33 "CSW Transaction (Update) Failed when Feature Catalogue Citation"
When a metadata have a Feature Catalogue Description associated
For example in XML

      <gmd:MD_FeatureCatalogueDescription>
         <gmd:includedWithDataset/>
         <gmd:featureCatalogueCitation xmlns:xlink="http://www.w3.org/1999/xlink"
                                       uuidref="055f393c-17a2-4288-b4df-0c6d33a0d769"
                                       xlink:href="https://portail.in

[2020-02-03 08:26] eblondel commented on #33
@mrouan can you send me the XML file you try to push?

[2020-02-03 08:30] eblondel opened #34 "WFS - Support coercing of date/datetime fields"

[2020-02-03 08:59] mrouan commented on #33
https://portail.indigeo.fr/geonetwork/srv/fre/csw?service=CSW&request=GetRecordById&version=2.0.2&outputSchema=http://www.isotc211.org/2005/gmd&elementSetName=full&id=7d9ad2e5-afcc-4f53-9b62-ac48e67069fb

[2020-02-03 09:18] eblondel commented on #33
can you describe how did you proceed with your test? Is it that you first read this xml using ows4R/geometa? and then you tried to push it to another catalogue?

I see a bug in geometa when reading the ``uuidref``, and instead set ``:uuidref``. I think it is related to that. Just to get confirmation of that, try to read your metadata with ows4R or directly with geometa:

[code]

If you inspect the

[2020-02-03 11:41] eblondel commented on #33
@mrouan i've fixed the issue in geometa. Could you re-install geometa and retry your code (with a new R session to inherit geometa changes in ows4R)?

[2020-02-03 11:41] #34 closed

[2020-02-06 22:10] mrouan commented on #33
fixed !

[2020-02-06 22:10] #33 closed

[2020-02-07 08:02] eblondel commented on #33
Great, if ows4R is useful for your work, feel free to star it

[2020-02-27 10:12] ptaconet opened #35 "Error while trying to access a WFS 2.0 server"
I am trying to access a WFS server with the following piece of script :

`require(ows4r)
csw <- WFSClient$new("https://services.sentinel-hub.com/ogc/[personal token]", "2.0.0", logger = "INFO")`

I get either this error :

`list()
[ows4R][INFO] OWSGetCapabilities - Fetching https://services.sentinel-hub.com/ogc/wfs/[personal token]?service=WFS&version=2.0.0&request=GetCapabilities
Error in if (att

[2020-02-27 11:18] eblondel commented on #35
@ptaconet I've pushed some fixs, the 1st is the one for which you got an error, I've handled better support for WFS 2.0 which is not well handled (because not tested deeply so far). I've also added some control to deal with badly handled primitive types in describeFeatureType. In theory I should not do that because this is likely to be a problem on server side, where the DescribeFeatureType respon

[2020-02-27 12:12] eblondel commented on #35
@ptaconet it would be good also to know which implementation they use for their OGC WFS. If it is a known product (geoserver, mapserver, esri, etc), or if they did their own implementation of WFS

[2020-02-27 14:57] ptaconet commented on #35
I provide below is the answer from the service provider ([sentinel-hub](https://sentinel-hub.com/))  (for some reason they were not able to answer directly in the forum) :

Hi @eblondel ,
Sentinel Hub's WFS service is based on own (proprietary) implementation.
I am not familiar with ows4R package so I cannot help much, but some notes if they help:

-WFS has some constraints implemented to prevent

[2020-02-27 15:22] eblondel commented on #35
Ok, i see so what you need to do with ows4R is to specify both ``srsName`` and ``bbox`` params (although please note that adding them should not be mandatory in the WFS spec, at least it should be documented properly in the featureType description, especially the srsName, which is not done in this server).

Knowing these server constraints, you can add these parameters to the ``getFeatures`` metho

[2020-02-27 16:09] ptaconet commented on #35
Thanks, your workaround worked for me ! :)

[2020-02-27 16:09] #35 closed

[2020-02-28 07:42] eblondel opened #36 "WFS FeatureType findFeatureTypeByName doesn't work with exact parameter"

[2020-02-28 08:17] #36 closed

[2020-03-05 10:07] oggioniale commented on #17
Hi,
I tried to use this package in different cases and compliments is a very good work.
At the moment I have a problem with the connection of all the layers in https://data.lter-europe.net/geoserver/deims/wfs
[code]

any solution of that?

[2020-03-05 10:16] oggioniale commented on #17
Hi,
I tried to use this package in different cases and compliments is a very good work.
At the moment I have a problem with the connection of all the layers in https://data.lter-europe.net/geoserver/deims/wfs
[code]

any solution of that?

[2020-03-05 10:21] eblondel opened #37 "Missing rule for xsd:float in WFSFeatureTypeElement"
Issue reported at https://github.com/eblondel/ows4R/issues/17#issuecomment-595146995

[2020-03-05 10:30] eblondel commented on #17
Hi @oggioniale I've fixed the issue through https://github.com/eblondel/ows4R/issues/37
Can you reinstall the package from Github and retest your code? It should work now

[2020-03-05 10:30] #37 closed

[2020-03-05 10:41] oggioniale commented on #17
thanks! It work now.

[2020-03-09 20:29] eblondel opened #38 "WFS add pretty option for FeatureType description"

[2020-03-09 21:38] #38 closed

[2020-05-26 18:14] eblondel opened #39 "getRecordById fails for ISO 19110 / Feature catalogue (typo)"

[2020-06-03 05:22] odgersn opened #40 "Features returned from WFS are unexpectedly of geometry type CURVEPOLYGON"
Hi,

I am trying to retrieve polygons from a WFS server using the following:

[code]

This works, but the geometry type of the returned features in my `polys` object is `CURVEPOLYGON`, which I did not expect. This is inconvenient because curvepolygons are not fully supported by sf (therefore I can't cast the features to a supported type).

When I test the same query in a web browser, the geometry

[2020-06-03 08:15] eblondel commented on #40
Hi @odgersn do you have the possibility to send me a test token by email so I could test your WFS and troubleshoot this? Thanks

[2020-06-08 07:52] eblondel commented on #40
Hi @odgersn thanks for this, i had a look. Unfortunately, the management as CURVEPOLYGON comes from upstream from sf package / gdal driver for GML. The WFS 2.0.0 handles by default GML 3.2 as format, hence this geometry type, which I think is the correct behavior from the standard WFS/GML viewpoint, but then indeed we can't handle it properly with sf.

I tried to use a lower version of WFS with yo

[2020-06-08 08:34] #39 closed

[2020-08-04 09:13] eblondel commented on #40
@odgersn did you have a chance to test the above solution?

[2020-08-12 23:17] odgersn commented on #40
Hi Emmanuel, I'm sorry for not getting back to you sooner. Yes your query works, but not quite as I expected it to work. I ran your query with the following amendment in order to set the crs correctly:

[code]

It returns an sf data frame of POLYGON features. Excellent. But when I plot the geometry, the results are odd. This is what I see when I run `plot(st_geometry(polys))`:

![bp_polys_1](https

[2020-08-25 07:27] eblondel commented on #40
@odgersn back from my holidays. yes please send me a test token by email I will test it

[2020-08-31 12:42] eblondel opened #41 "Add control on hasGeometry in case geom excluded from propertyNames"
For the timebeing control is only set based on featureType description. In case ``propertyName`` param is used in WFS GetFeature and geometry is excluded, we get an sf object with empty geometry collection in geometry, we should get a data.frame instead.

[2020-08-31 16:51] #41 closed

[2020-09-01 12:01] eblondel opened #42 "Support other WFS output formats than GML"

[2020-09-02 10:36] eblondel commented on #29
@mcdesignnl in case you still need this, i've added WFS paging support.
To use it, it's very simple:
* ``getFeatures(paging = TRUE, ....)
* you can modify the paging_length, default set to 1000 for now (this is likely to be changed): ``getFeatures(paging = TRUE, paging_length = 10, ... )``

I'm also adding support to run this WFS paging as parallel, but code still needs consolidation, I'll let you

[2020-09-02 10:38] eblondel opened #43 "WMS (Web Map Service) Client"

[2020-09-22 07:05] #42 closed

[2020-09-22 07:22] eblondel commented on #40
@odgersn in #42 I've added the possibility to manage other WFS output formats, such as json or csv. This feature can improve a lot data retrieval as the default format (GML) is more verbose and time consuming to handle.

I've tried to use another format in your case, and it seems to fix the issue. To add an ``outputFormat``, just add it to your ``getFeatures`` request, like this:

[code]
BTW, we s

[2020-09-30 06:20] eblondel opened #44 "Warning raised when reading WFS capabilities / proj4 with +init"
Method ``OWSUtils$toCRS`` returns epsg strings starting with +init=. This should now be removed to prevent from getting below warning:
[code]

[2020-10-05 06:13] #44 closed

[2020-10-30 15:33] eblondel opened #45 "WFS featureType getDescription fails as prettified when missing properties"
Action: to add controls on describe feature type elements (minOccurs, maxOccurs, nillable) to prevent failure when coercing to data.frame when invoking ``$getDescription(pretty = TRUE)``. The issue occured while testing on a map server.

[2020-10-30 15:53] eblondel opened #46 "WFS - add encoding facilities for cql_filter and filter params"
The purpose of this enhancement is to facilitate the use of filtering params in WFS:
* ``cql_filter``: In most of cases this filter needs to be URL-encoded. By adding this, we avoid the user to specify URLencode by (him/her)self.

``wfs$getFeatures(cql_filter = "property = 'value'")``

instead of

``wfs$getFeatures(cql_filter = URLencode("property = 'value'"))``

* ``filter``: Same as above we nee

[2020-10-30 16:33] #46 closed

[2020-10-30 16:33] #45 closed

[2020-11-06 13:11] #40 closed

[2021-01-13 12:10] hansvancalster opened #47 "warning about deprecated syntax of proj4strings"
[code]

<sup>Created on 2021-01-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

The warning suggests that (non-GDAL3-compliant) proj4strings have been transmitted. They should be avoided, cf https://www.r-spatial.org/r/2020/03/17/wkt.html and e.g. https://geocompr.github.io/presentations/.

I'm not sure whethe

[2021-01-13 12:29] eblondel commented on #47
Thanks @hansvancalster however i think it's a duplicate of #44, already solved on github/master (not on CRAN yet). Can you try to re-install from github? I've tried the above code and no warning is retrieved anymore.

[2021-01-13 12:54] hansvancalster commented on #47
I tried installing from github but it failed with  the following error:
![image](https://user-images.githubusercontent.com/18713718/104454793-abc9e700-55a6-11eb-8b1c-1eb2f1ed1bfc.png)

Any ideas how I should solve this? Maybe you used a development version of `withr`?

[2021-01-13 13:52] eblondel commented on #47
No, i used latest remotes/withr packages from CRAN. It works on 3.6.x series, and I just tried installation through a brand new R 4.0.3, and it worked as well.

[2021-01-13 15:58] hansvancalster commented on #47
I can confirm it works :+1:

However, on my system, it only worked after removing `withr` and reinstalling with `remotes::install_github("r-lib/withr")` followed by `remotes::install_github("eblondel/ows4R")`. The CRAN version of `withr` appears to be corrupt.

Since the issue is solved, I will close this. Thank you!

[2021-01-13 15:58] #47 closed

[2021-03-03 10:49] CedricMondy commented on #10
any progress about this feature?

[2021-03-05 16:14] eblondel commented on #10
@CedricMondy that one is more on wishlist for the time being. I didn't get an opportunity & time to draft and release a client for WPS.

[2021-06-02 19:37] edzer opened #48 "revdep of sf / s2 breaks ows4R"
I see this
[code]
when revdep checking ows4R using s2 (1.0.5, CRAN) and sf from github (branch sf_1_0); planning to submit this branch soon as sf 1.0 to CRAN. Let me know if we can help.

See https://github.com/r-spatial/sf/issues/1649 for more info (and possibly help).

[2021-06-02 22:29] eblondel commented on #48
Hi @edzer , the error you get is due to an issue of XML schema validation when trying to `$encode` the xml. This embedds [geometa](https://github.com/eblondel/geometa) objects, here GML bindings, for which the resulting XML is by default validated against the schema. XML Schemas are loaded when loading `geometa` package (loaded with ows4R).

Now, part of the schemas are local (All ISO/OGC are stor

[2021-06-03 07:10] edzer commented on #48
Ah, so this was a false positive (for me). Thanks!

[2021-06-03 07:10] #48 closed

[2021-06-11 15:23] eblondel opened #49 "OWS Capabilities components not correctly parsed when ref namespace is from service (eg. wms)"
Tested with Thredds OGC services

[2021-06-11 17:43] #49 closed

[2021-09-14 20:46] eblondel opened #52 "Implement keyring for password storage"

[2021-11-29 15:15] #15 closed

[2021-11-29 15:17] #10 closed

[2022-01-24 20:27] eblondel opened #53 "Support new parameter for specifying custom INSPIRE metadata validator"
Cf https://github.com/eblondel/geometa/issues/184
This is required to:
* specify an eventual alternative URL for the INSPIRE metadata validator (in case production service is not used)
* specify the mandatory user API key (required for any metadata validation)

[2022-01-25 09:14] #53 closed

[2022-02-02 04:03] asiripanich opened #54 "Missing xsd:short mapping in FeatureType description"
Hello, I recently encountered a case where the type of an element is missing which makes `WFSFeatureType$getDescription(pretty = TRUE)` returns an error. I'm sure it is a mistake that should be rectified by the data provider. However, should the `getDescription()` function also fills `name` and `type` with `NA` like the other attributes or should it returns an error in this case?

https://github.c

[2022-02-02 04:05] asiripanich commented on #54
Related to #45.

[2022-02-02 19:49] eblondel commented on #54
Can you send me a test case, here if the server is public, if not by email, so I can test

[2022-02-08 00:40] asiripanich commented on #54
@eblondel sure thing. However, you will need to get request for [an API key](https://aurin.org.au/resources/aurin-apis/sign-up/) to run my example. I will post the example here soon.

[2022-02-09 09:42] asiripanich commented on #54
Well this is weird. The image below is from my old R console session that I found the error.

![image](https://user-images.githubusercontent.com/17020181/153165658-196e6544-d1ad-4603-aebd-46923c895e55.png)

But the reprex that I just created for this issue seems to run fine.
[code]

<sup>Created on 2022-02-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

Maybe it was a temp

[2022-02-09 10:08] eblondel commented on #54
There was an issue on past version, but it was fixed. Can you double check that it works with the latest CRAN version?

[2022-02-09 15:03] eblondel opened #55 "Align Rdoc on strict R6-based roxygen documentation"

[2022-02-10 03:56] asiripanich commented on #54
Just checked on the latest version (0.2.1). Now my reprex (ran on a different machine) returns the error.

[code]

<sup>Created on 2022-02-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2022-02-11 10:16] eblondel commented on #54
I didn't get to get a key to reproduce this issue, sorry. I would need that you send me the DescribeFeatureType xml output for this particular description. From that I will be able to troubleshoot.

The DescribeFeatureType can be fetched using eg. <WFS base url>?service=WFS&version=1.0.0&typeName=aurin:datasource-AU_Govt_ABS-UoM_AURIN_DB_3_abs_ihad_sa1_2016&request=DescribeFeatureType

You can pas

[2022-02-11 10:18] eblondel commented on #54
If you enable logger = "DEBUG" in the WFSClient creation in aurin package. It will print more logs and give you the corresponding DescribeFeatureType request, if you don't want to build it manually

[2022-02-14 21:15] #55 closed

[2022-02-14 21:17] #29 closed

[2022-02-15 08:18] eblondel commented on #54
@asiripanich i've contacted twice the Aurin registration. If i understand well they are supposed to send me the key by email, but I didn't receive anything. If you want me to troubleshoot this issue, i will need access to the the WFS or that you send me the result of DescribeFeatureType request.

[2022-02-15 08:37] asiripanich commented on #54
@eblondel Don't worry about that. I will share with you the xml file here tomorrow. :)

[2022-02-16 06:31] asiripanich commented on #54
Here you go: [elements.rds.zip](https://github.com/eblondel/ows4R/files/8077272/elements.rds.zip)

With the following modifications
[code]

we get this output

[code]

I'm not sure if this is something I should contact AURIN to let them know that this particular dataset has some missing types or ows4R should be more robust against missing metadata fields.

[2022-02-16 07:31] eblondel commented on #54
I don't think it's a missing type in Aurin but rather a missing primitive type that is not mapped properly in ows4R. The WFS standard is quite strict on this and can't have feature type elements with no type, there is necessarily one.
To check the issue of type mapping, I need either to be in capacity to test the Aurin WFS directly, or to get a copy of the XML response resulting from the DescribeF

[2022-02-16 07:47] asiripanich commented on #54
Is this ok?

<details>

[code]

[2022-02-16 07:50] asiripanich commented on #54
So the short type is missing. :)

[2022-02-16 07:50] eblondel commented on #54
@asiripanich yeah, with this XML we see it quickly. Now it's fixed

[2022-02-16 07:51] asiripanich commented on #54
Thanks, @eblondel!

[2022-02-16 07:57] eblondel commented on #54
You're welcome!
I will possible create a separate branch in order to push this fix into a CRAN release revision, as the present main branch includes more work that will not be published before June.

[2022-02-17 22:18] #54 closed

[2022-03-02 12:31] maelle opened #56 "Duplicate feature with findFeatureTypeByName"
:wave: here from EMODnetWFS :smile_cat: cc @annakrystalli

I've just noticed that the `exact` parameter of https://github.com/eblondel/ows4R/blob/ab04a281c896b4fce0489ba8772a2eb81bd7b06b/R/WFSCapabilities.R#L78 isn't implemented yet?

Here's an example where I get both "biotic" and "abiotic" observations.

[code]

<sup>Created on 2022-03-02 by the [reprex package](https://reprex.tidyverse.org) (v2

[2022-03-02 12:50] maelle opened #57 "Feature request: using an User-Agent?"
Would it be possible to use an User-Agent in requests? E.g. by default it'd be this package, but in EMODnetWFS requests we'd add the package name. (Sorry if I missed something obvious!)

Cc @annakrystalli

[2022-03-02 14:56] eblondel commented on #56
Hi @maelle I set it as bug since it's supposed to be implemented already, I think some regression ocurred in the past on that. Just pushed some fix. However, 'exact' really means exact for the feature type name. In the case of Geoserver, the name includes the namespace as prefix, if you don't put it you will get an empty list

[2022-03-02 15:02] eblondel commented on #57
@maelle You can already do it by using the request `headers` argument to the `WFSClient` constructor.

See below code (with logger = "DEBUG", so you can see the User agent set as request header)
`
wfs <- ows4R::WFSClient$new(
    "http://geo.vliz.be/geoserver/Dataportal/wfs",
    serviceVersion = "2.0.0",
    headers = c("User-Agent" = "EMODnetWFS"),
    logger = "DEBUG"
)
`

[2022-03-02 15:04] maelle commented on #57
oh, awesome, thank you and sorry!!

[2022-03-02 15:05] eblondel commented on #57
no problem, you're welcome

[2022-03-02 15:09] eblondel opened #58 "Implement 'exact' find method for WMS layers"

[2022-03-02 15:15] maelle opened #59 "XML vs xml2?"
Just curious why {XML} is used rather than {xml2}? {XML} is no longer maintained.

[2022-03-02 15:26] maelle opened #60 "Is retry implemented?"
I searched for retry via GitHub but found nothing. Is it possible to use RETRY rather than e.g. GET? Wondering about this as the web service I'm using right now seems flaky. :sweat_smile: Thank you for your patience!

 cc @annakrystalli

[2022-03-02 15:36] eblondel commented on #59
That's not right: XML is maintained but by CRAN team and not anymore by the original author. Given the number of dependencies historically using XML, I doubt XML will be no longer maintained in time.

XML is used for various reasons, starting with the fact the packages I build (including ows4R and related such as geometa) needed XML at that time where xml2 was very limited. I had performed already

[2022-03-02 15:36] eblondel commented on #59
PS: I will open a gitter or a github discussion soon for ows4R, to move all discussions aspects there, so we keep tickets for bug/enhancements :-)

[2022-03-02 15:58] maelle commented on #59
Thank you!!

[2022-03-02 16:25] maelle commented on #57
Actually I might still have a small feature request, maybe just an encoding one as the user agent can't be more than one word at the moment, see below

[code]

<sup>Created on 2022-03-02 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-03-02 16:29] maelle commented on #57
Or maybe the problem is with the web service, though :thinking: I'll come back to this tomorrow. :eyes:

[2022-03-02 16:48] eblondel commented on #57
sounds i've a bug with the headers argument, I will look at it asap and let you know

[2022-03-02 17:21] eblondel opened #61 "Generalize auth-related arguments in OWS Http requests"
Relates to #15 . Detected through issue to add additional headers to WFS in #57
Needs to generalize passing auth-related arguments (user, pwd, token, headers) to all request extending `OWSHttpRequest`

[2022-03-02 17:49] eblondel commented on #57
should be fixed with #61

[2022-03-03 06:42] maelle commented on #60
I mean that maybe instead of GET/POST some methods could use https://httr.r-lib.org/reference/RETRY.html (btw see the interface for this in httr2 https://httr2.r-lib.org/reference/req_retry.html), letting the users pass the arguments pause_cap etc?

[2022-03-03 12:44] maelle commented on #56
Good to know!

[2022-03-03 12:45] maelle commented on #56
Could ows4R automatically apply the namespacing or is that a bad idea?

[2022-03-03 12:48] maelle commented on #56
`capabilities` itself does not seem to have the namespace.

[2022-03-03 13:03] maelle commented on #56
realizing this was a stupid question, we have the namespace elsewhere.

[2022-03-03 13:15] maelle opened #62 "Pass exact argument to findFeatureTypeByName() in getFeatures()?"
https://github.com/eblondel/ows4R/blob/ad9d75210b8be81d998744fb944be48e7fd7b6b2/R/WFSClient.R#L95

Related to #56

[2022-03-03 13:53] eblondel commented on #56
no, we can't add the logic of namespace here, it's not an OGC standard feature but specific feature to Geoserver, so you will have to implement it on the Emodnet Geoserver R package.

[2022-03-03 15:56] eblondel commented on #62
Actually, no we should not expect to pass exact parameter, in that case, implementing the OGC service the `getFeatures` should exactly match the feature type name. Same for other WxS services. exact should be always TRUE. If we would let user specify exact = FALSE, this would mean either to read features for 1st matched feature type name (as it is set now, wrongly), or let read everything which is

[2022-03-03 16:07] #57 closed

[2022-03-03 16:07] #61 closed

[2022-03-03 16:19] #62 closed

[2022-03-03 16:21] eblondel commented on #60
It's not implemented, not sure if/when it will be implemented, but I will have a look.

[2022-03-03 17:27] maelle commented on #62
Thank you :pray:

[2022-03-03 18:02] eblondel opened #63 "Investigate use of CAS authentication"
Some service providers require to authenticate only through a Central Authentication Service (CAS). The purpose of this task is to investigate the addition of a CAS endpoint in order to authenticate for the user and use an OGC WxS behind CAS.

[2022-03-07 21:51] #63 closed

[2022-03-11 08:12] maelle opened #64 "Support httr config argument for OGC service clients"
:wave: here!

We're dealing with a rather old web service that requires special handling on Ubuntu, it only works with a special curl handle as shown below.

Would it be possible to somehow pass a handle/handle parameters to the WFSclient? (We're also in contact with the web service maintainers)

[code]

<sup>Created on 2022-03-11 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup

[2022-03-11 08:12] maelle commented on #64
Cc @annakrystalli

[2022-03-11 08:17] maelle commented on #64
I've looked at the docs of the curl package, it does not seem there's a way to customize the handle via options / environment variables.

[2022-03-11 08:42] maelle commented on #64
Oh but i should look into `httr::handle_pool()` :thinking:

[2022-03-11 08:43] eblondel commented on #64
@maelle I will have a look, not sure an easy solution can be done through ows4R, considering this is plateform dependent. On Windows it works well.

[2022-03-11 08:45] maelle commented on #64
Oh we'd do the platform handling, we via EMODnetWFS would just pass a different handle / a different set of handle options to `ows4r::WFSClient$new()`. (that ows4r would pass to `httr::GET()` handle argument)

I'm also trying to understand if we can influence the "handle pool" directly somehow.

Thank you!

[2022-03-11 08:50] eblondel commented on #64
I'm not sure to understand what is the exact problem you deal with, can you share the R code that fails for you? i've just tested the WFS Client from an R Studio server deployed on Ubuntu, and it works:

[code]

<details><summary>session info</summary>

[code]

</details>

[2022-03-11 08:56] maelle commented on #64
So, after digging a bit, I don't think one can modify the handle pool externally, so we'd really need ows4r to let us pass the handle to `httr::GET()` and friends. (I understand if it's not prioritary :slightly_smiling_face: )

[2022-03-11 09:01] maelle commented on #64
Nothing that `httr2` has `httr2::req_options()` which would be perfect here (but maybe switching to httr2 would be even more work here :sweat_smile: )

[2022-03-11 09:09] maelle commented on #64
And with system info

[code]

<sup>Created on 2022-03-11 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2022-03-11 09:10] maelle commented on #64
We were also seeing this error on GitHub Actions with more recent R versions.

[2022-03-11 10:32] maelle commented on #64
What could also work I think is a way to pass an httr config `httr::config()` https://msmith.de/2020/10/02/httr-curl-ubuntu-20-04.html

[2022-03-11 12:11] eblondel commented on #64
I will dig a bit in the issue, and let you know when i have time to work on that. I will run the ows4R over the most recent R, and will probably include some tests over Emodnet WFS services.

[2022-03-11 13:07] maelle opened #65 "Two questions on DescribeFeatureType"
- Could one get all feature types at once? At the moment it seems one can only get the feature type per feature, but a request like https://geo.vliz.be/geoserver/Dataportal/wfs?SERVICE=WFS&REQUEST=DescribeFeatureType&VERSION=2.0.0 actually exists.
- From that URL above some layers are "complexType" and some are "element". Could that help guessing the output format? In that case the one that are "e

[2022-03-11 13:11] maelle commented on #65
I think I misread what the element vs complexType are, however I'm still wondering whether the metadata could help one see what's geographical (sf) vs not (data.frame).

[2022-03-11 13:28] eblondel commented on #65
DescribeFeatureType should target 0..* cardinality for typeNames , as part of the WFS spec, so in principle we should be able to implement it. Possibly the same for GetFeatures, but i can't work on it immediatly. In general DescribeFeatureType and GetFeature are not used on more than one typeNames, although it is possible in the standard model.

You can get information of feature type before doing

[2022-03-11 13:31] eblondel commented on #65
Yes ows4R behaves like that. You can publish (in particular in Geoserver) geometryless data through WFS protocol, ows4R will retrieve a data.frame instead of a sf object.

[2022-03-11 13:34] eblondel commented on #65
You can still filter over the properties you want to be part of the output with the WFS `propertyName` parameter. See below an exampe where I skip the geometry:

[code]

[2022-03-11 13:34] maelle commented on #65
Thanks!

Is this "type guessing before download" something that should happen in ows4R (like `getTitle()` there could be `getRType()` or so) or in EMODnetWFS?

[2022-03-11 13:40] eblondel commented on #65
The `type` is the R type already. The guessing is done in https://github.com/eblondel/ows4R/blob/master/R/WFSFeatureTypeElement.R#L119. For backward compatibility reasons, I can't really change the method now so `getType` will give the R type, but if you need the WFS type, I can add a method `getNativeType` or something similar

[2022-03-11 13:51] maelle commented on #65
I think by type I meant layer type actually. I.e. knowing in advance when we do `getFeatures()`, if the resulting thing will be a data.frame or a sf. Sorry for getting this mixed up.

[2022-03-11 13:53] maelle commented on #65
Example:

[code]

| layer                                                    | geom  |
|:---------------------------------------------------------|:------|
| abiotic_observations                                     | TRUE  |
| biotic_observations                                      | TRUE  |
| eurobis-obisenv_basic                                    | FALSE |
| eurobis-obisenv_count

[2022-03-11 21:19] eblondel commented on #64
@maelle I've implemented a solution which extend present ows4R clients with a 'config' argument, to pass a httr::config() where you cn specify curl options

I've setup a test over Emodnet geology WFS and all seems ok now: See how it is configured: https://github.com/eblondel/ows4R/blob/1a9842dd7aa51265e56fa0fb6d1630a263210655/tests/testthat/test_WFSClient_v2_0_0.R#L33
 ​

[2022-03-14 11:57] maelle commented on #64
Thanks so much @eblondel!! :rocket:

[2022-03-14 11:58] eblondel commented on #64
you're welcome!

[2022-03-14 11:58] #64 closed

[2022-03-29 15:46] salvafern opened #70 "WFS paging and parallelization support"
Hi @eblondel ,

I have been giving a try to `ows4r` to query biological occurrence data from EMODnet-Biology

In this example below, I requested:
* Dataset: The CPR survey (https://www.emodnet-biology.eu/data-catalog?module=dataset&dasid=216)
* Geographical: North Sea  (https://marineregions.org/gazetteer.php?p=details&id=2350)
* Taxon: Calanus finmarchicus (https://www.marinespecies.org/aphia.php

[2022-03-30 14:14] eblondel commented on #70
@salvafern make sure to use WFS 2.0 version; AFAIK pagination in WFS is only supported in WFS 2.0, I see you used 1.1.0

[2022-03-30 19:40] eblondel commented on #70
Try with setting version 2.0.0 like this:

[code]
justed tested the pagination and it worked

[2022-03-31 08:19] salvafern commented on #70
Indeed now it works, thanks a lot!
I was using v1.1.0 to copy what the download toolbox did, but I guess there's no harm in using v2.0.0

I have also tried now using the parellel options:

### Using parellelization and pagination together

Probably I'm doing something wrong. I expected that multiple requests would be done for each chunk, but I just ran into an error.

[code]

via `debug()` I can s

[2022-04-08 15:30] eblondel commented on #70
@salvafern i don't forget this, i started working on it, but still looking into the best way to fix the parallel handlers.

[2022-04-26 13:22] maelle opened #71 "Issue with XML package in Github r-lib v2 actions"
Related to #59

Just for info we're seeing such compilation errors on Ubuntu with XML: [EMODnet/EMODnetWFS/runs/6176000380?check_suite_focus=true](https://github.com/EMODnet/EMODnetWFS/runs/6176000380?check_suite_focus=true)

Cc @annakrystalli

[2022-04-26 13:29] eblondel commented on #71
it's not really related to #59 by the way :-)

[2022-04-26 15:06] eblondel commented on #71
@maelle i've configured the github CI with ubuntu-latest for both R release/devel, and it works. Not sure why you got a compilation issue, maybe it's unexpected error, and trying to re-run the job will work.

[2022-04-26 16:38] maelle commented on #71
Thanks, will do!

[2022-05-03 06:13] maelle commented on #71
@eblondel do you know of examples of GHA workflow without Docker that'd work for XML? Our standard workflows still don't work (which worries me for standard users that will try to install the package outside of Docker too). See https://github.com/EMODnet/EMODnetWFS/actions/runs/2257266720

Thank you :pray:

[2022-05-03 06:48] eblondel commented on #71
@maelle just a clarification, I'm not containerizing the tests within docker, but Docker is used to launch some applications WITHIN the VM that is launched with ubuntu for tests. Most of the packages i authored used XML behind, such as [geometa](https://github.com/eblondel/geometa), [geosapi](https://github.com/eblondel/geosapi), [atom4R](https://github.com/eblondel/atom4R). I'm going to add more

[2022-05-03 07:20] eblondel commented on #71
@maelle looking at your action config, I see that you use v2 actions from r-lib, while in ows4R I used 'v1' for r-setup and r-setup-dependencies; and 'check-r-package' for check-r-package action https://github.com/eblondel/ows4R/blob/master/.github/workflows/r-cmd-check.yml#L46
This may be related in particular to https://github.com/r-lib/actions/tree/v2-branch/setup-r-dependencies#installing-the-

[2022-05-03 07:42] eblondel commented on #71
reverting at https://github.com/eblondel/ows4R/commit/6eac34136f29a2677f2ea707bff39cd05b8ab8db

[2022-05-03 08:38] maelle opened #72 "Is there a way to indicate a download is under way?"
I was considering adding a message indicating downloads are in progress (not a progress bar, just a message). Is it something that could be an option via ows4R, e.g. at the stage of the client creation?

[2022-05-03 08:51] eblondel commented on #72
When creating the `WFSClient`, you can set `logger = "INFO"`, which gives this kind of message, whatever the request is performed. The download message is handled through a generic 'Fetching...' message. Isn't it enough?

[code]

[2022-05-03 08:55] maelle commented on #72
Thank you! I'll ask the team :-)

[2022-05-03 12:06] salvafern commented on #72
A bit off-topic but I'm curious: is it possible to pass to print a progress bar @eblondel ? I think ows4R uses httr: could `progress()` be passed to `getFeatures` somehow? https://httr.r-lib.org/reference/progress.html?q=progress#null

[2022-05-03 13:00] eblondel commented on #72
yes, progress bar would be useful as enhancement

[2022-05-03 13:21] eblondel opened #73 "Implement progress bar in OWS data requests"

[2022-05-03 13:21] eblondel commented on #72
https://github.com/eblondel/ows4R/issues/73

[2022-05-03 13:23] salvafern commented on #72
Awesome! Thanks :)

[2022-05-03 13:58] eblondel commented on #73
@salvafern I just made some tests, it's easy to add httr::progress() but the issue is that we don't know a priori the size of the file requested, like WFS features or WCS coverage, which means the progress bar in % can't be added, the httr::progress() reports on the amount of data downloaded (file size). Not sure if it's what you need

[2022-05-03 14:25] salvafern commented on #73
Ah ok I see. No, indeed this is not what I was thinking of, but if it is not much work could you add it anyways? That way we could know that the process is still alive when doing large requests.

[2022-05-03 22:10] eblondel commented on #73
I've added it to GET requests for you to test. The issue with OGC services is that we are handling dynamic data services, where server doesn't communicate the size of the data requested. In this situation, `httr::progress` is not capable to configure a 0 to 100% progress bar, and can only update on the amount of data downloaded, which is not bad indeed, but not ideal... We can keep this open, and

[2022-05-06 13:40] #72 closed

[2022-05-10 14:32] salvafern commented on #73
I have been testing and I think it is good to have the option, even if it is not an actual progress bar but just the bytes downloaded. Maybe keep it as an option? (e.g. when `logger = INFO`)

[2022-05-10 14:39] eblondel commented on #73
sure no problem

[2022-05-11 07:48] itati01 opened #74 "Get all styles of a layer?"
Hi,

I just started to play with ows4r, so I hope that I do not miss anything obvious. The goal is to get all styles belonging to a layer. I currently can get just one style:
[code]
Would it be possible to extend `getStyle` to get more/all styles (or with a new `getStyles` method)? Thanks!

[2022-05-11 13:55] eblondel commented on #74
@itati01 it's a mistake, the right method should be `getStyles()`. Just pushed a fix, if you want you can test reinstalling ows4R from github.

[2022-05-11 14:31] itati01 commented on #74
@eblondel That was quick! Thanks a lot. By the way, is it possible to obtain attributes of the styles (e.g. title, names)?

[2022-05-11 17:14] eblondel commented on #74
yes i can extend it, and replace the current method by 'getStylenames', i do a commit soon...

[2022-05-11 22:52] itati01 commented on #74
Thanks a lot. Both WMSLayer methods work. A small issue: the first two names in `getStylenames` are here identical.

[2022-05-12 15:51] eblondel commented on #74
If you can send me the WMS you are trying to query. I suppose that the default style is listed as additional available style for the same layer you are looking at, it means that the style is referenced more than once in the WMS GetCapabilities. I've tested it over various WMS and it works fine.

[2022-05-12 18:10] eblondel commented on #73
@salvafern it's implemented

[2022-05-13 10:30] salvafern commented on #73
Great, thanks!!

[2022-05-16 12:53] #74 closed

[2022-05-17 16:45] #73 closed

[2022-05-17 22:36] eblondel commented on #71
@maelle this is what I could investigate related to Github CI failures in building XML package:
*  first, i've tried to switch from v1 to v2 actions, and this is how I could reproduce the issue of Github action r-lib/actions/setup-r-dependencies@v2 same as you are facing in https://github.com/EMODnet/EMODnetWFS
* As pointed out the issue relates to this https://github.com/r-lib/actions/tree/v2-bra

[2022-05-18 20:14] Florent-Demoraes opened #75 "How to save WMS images to raster with ows4R so that they can be plotted with other packages such as tmap?"
Hello,

I was wondering wether they would be a way of downloading images from a WMS server so as to create a local raster file and to plot it with other packages such as tmap for instance.

Here is what I am doing til now, but it is quite complicated and it does not rely on ows4R package.

The code below is derived from that published here : https://gist.github.com/obrl-soil/73916c6fe223d510293cb1

[2022-05-18 20:19] eblondel commented on #75
@Florent-Demoraes thanks for this, what you shared is actually really useful for investigating how to plug the getMap operation. As soon as I have some time, I will start investigating it

[2022-05-20 08:46] maelle commented on #71
Success https://github.com/EMODnet/EMODnetWFS/runs/6521287978?check_suite_focus=true :tada:

Thank you!!

[2022-05-20 09:10] #71 closed

[2022-06-03 10:19] eblondel opened #76 "WFS getFeatures with json and csv do not work - bad writer"

[2022-06-03 10:26] #76 closed

[2022-06-10 13:49] maelle opened #77 "Some pkgdown comments"
Thanks for creating the pkgdown website! :pray:

Suggestions
- Creating a pkgdown config (for instance via running `usethis::use_pkgdown()`) and add the website URL to it. It's better for cross-referencing from, say, EMODnetWFS docs. More info: https://pkgdown.r-lib.org/articles/linking.html?q=cross#across-packages
- Replacing the wiki link in the repo description with the website URL.
- Adding th

[2022-06-13 09:04] eblondel commented on #77
Thanks @maelle for the suggestions i'll have a look

[2022-06-13 14:38] #77 closed

[2022-06-13 16:29] maelle commented on #77
:tada: :pray:

[2022-07-02 12:25] Robinlovelace opened #78 "Remove dependency with rgdal"
Which will be retired in 2023. Context: https://github.com/Robinlovelace/geocompr/issues/817

[2022-07-02 12:31] eblondel commented on #78
Yes it's known, but thanks for reporting

Le sam. 2 juil. 2022 à 14:25, Robin Lovelace ***@***.***> a
écrit :

[2022-07-05 07:11] #60 closed, assigned to eblondel

[2022-07-05 07:12] #9 closed

[2022-07-05 07:12] eblondel commented on #25
@juldebar @kikislater any news on that?

[2022-07-05 07:40] eblondel commented on #31
After more than 2 years, and a pull request to fix it sent to Geonetwork team i still don't know if the fix has been integrated. I've contacted Geonetwork again

[2022-07-05 07:56] kikislater commented on #25
Needs to be retried ...

[2022-07-05 08:33] #78 closed

[2022-07-06 11:28] eblondel commented on #78
@Robinlovelace ows4R is free of rgdal now, and the new package has been pushed to CRAN. This includes new clients for WPS (processing) and WCS (coverage/raster data access)

[2022-07-06 19:37] Robinlovelace commented on #78
Hi Emanuel, thanks for the update, looking good! I think I found out the cause of the installation failures:

[code]

[2022-08-02 09:23] annakrystalli opened #80 "Parsing coverageDescription information"
Hi @eblondel 👋

I've started development on the [`EMODnetWCS`](https://github.com/EMODnet/EMODnetWCS) package and am trying to write the function to compile metadata on each coverage into a more usable format for R users. I'm having trouble figuring out how to extract information from the return gml objects. For example, see an extention of the vliz example below:
[code]

<sup>Created on 2022-08-0

[2022-08-02 09:51] annakrystalli commented on #80
I've also tried to use the functions in the `WCSCoverageDescription` but I only get useful output from `getId()`.

[code]

<sup>Created on 2022-08-02 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-09 09:11] annakrystalli opened #81 "`OWSBoundingBox` - `getBBOX` returning incorrect crs"
Hi @eblondel ,

I noticed that the crs information appended to `bbox` objects returned by `getBBOX` are incorrect. The crs seems to default to **EPSG:4326** so when the coverage crs deviates from that it returns the correct coordinates but attaches the wrong crs to the `crs` `bbox` attribute. In the example below, when using  `getBBOX` on the `BoundingBox` returned by `getBoundingBox()`, the coord

[2022-08-09 15:38] annakrystalli opened #82 "`describeCoverage` and `getDescription` not working properly on `https://ows.emodnet-humanactivities.eu/wcs`"
`describeCoverage` and `getDescription` don't seem to be working properly for `https://ows.emodnet-humanactivities.eu/wcs`. Specifically I seem to get a truncated `WCSCoverageDescription` when using versions 1.1.1 & 1.1.0

[code]

<sup>Created on 2022-08-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

However, it seems the server does have CoverageDescription information,

[2022-08-09 15:50] eblondel commented on #82
Hi @annakrystalli yes, the problem starts within the WCS capabilities, that within this WCS version spec, at least through Geoserver (we would need to check), the Coverage Ids, are not identified with a ':' as namespace/layer identifier, but with a double underscore.
At now, the ows4R WCS client follows strictly what it finds in the capabilities, https://ows.emodnet-humanactivities.eu/wcs?service=

[2022-08-09 16:03] understorey opened #83 "Test with WCS from FAO ASIS not working"
I have tried to replicate the test proposed in the package, but I am getting the following errors:
[code]
Codes used on

and

were:
[code]
May I kindly ask you to test the query for a specific year (2010, for example) of [annual summary product (ASI_A)](https://data.apps.fao.org/map/catalog/srv/eng/catalog.search#/metadata/2afba815-0402-400a-bcf8-cf0959f19421) which is the data which I need to ret

[2022-08-10 07:07] eblondel commented on #81
Thanks @annakrystalli for the comprehensive report. I think that's something for which i forgot to add a 'TODO', and EPSG:4326 was still hardcoded in the `getBBOX()` of `OWSBoundingBox` (common to all OGC WxS capabilities). I've pushed some code for you to test. let me know

[2022-08-10 07:23] eblondel commented on #83
I've tried the request, and I get a Bad gateway error from server, so ows4R doesn't complete the request. WCS is still in dev, and I need to handle properly these kind of server errors.
Regarding your request, you can ask directly at fao-data@fao.org
What i can see is that the coverage you try to request is not a temporal coverage, but just a 2D grid.

[2022-08-10 07:40] eblondel commented on #80
@annakrystalli Here we deal with differences between WCS standard versions. The methods you try to query are specific to WCS version 1.x , so querying a WCS 2.0.1 it's totally normal you get empty lists:
* `getDomain()` and `getSupportedFormats()` are implemented in `ows4R` but target WCS version 1
* `getRange()` with range XML parsing is not yet implemented in `ows4R`, it targets WCS version 1.0

[2022-08-10 07:47] eblondel commented on #80
Last but not least, in WCS 2.x servers, let me add that a coverage description is not defined anymore in the WCS standard specification, but in the GML COV standard, which is also handled (as GML bindings extension) in [geometa](https://github.com/eblondel/geometa).

You can see [here](https://github.com/eblondel/geometa/blob/master/inst/extdata/coverage/geometa_coverage_inventory.csv) the full in

[2022-08-10 08:40] annakrystalli commented on #80
Thanks for the info @eblondel ! Very helpful

[2022-08-10 08:41] annakrystalli commented on #81
Great, I'm back on the project tomorrow so will take a look and let you know!

[2022-08-10 08:43] annakrystalli commented on #82
Thanks for all the info! This might be something I can handle in EMODnetWCS package but might be useful for ows4r to handle natively if it makes sense. Should I find out what type of server the human activities one is?

[2022-08-10 09:35] eblondel commented on #82
It's a GeoServer. Let me see if I can add some "glue" to allow ":" or "__" namespace separator

[2022-08-16 08:24] annakrystalli commented on #81
Just check and all is working as expected!

[2022-08-16 10:42] annakrystalli commented on #82
OK, I've played around a bit and have some updates (see reprex below).

In summary:
- double underscore works but only in 2.0.1 version
- `getRange()` doesn't work, but accessing the `rangeType` object of the description works. Is that how it should work?

[code]

<sup>Created on 2022-08-16 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-17 09:14] annakrystalli opened #84 "`ows4R` classes not available to methods on objects created using `ows4R::` ( i.e. with package not loaded)"
When using `ows4R` methods after calling `ows4R::WCSClient` (i.e using `::` rather than loading package as is required practice in package development), required classes are not available unless the package is loaded.
[code]

<sup>Created on 2022-08-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

This causes problems when using `ows4R` internally in other packages as loadi

[2022-08-17 10:40] annakrystalli commented on #81
I've done some more work and noticed that there might now be a problem with the coordinates returned now through `getBBOX()`. They now do not match the `boundedBy` limits even though the crs seems correct:

[code]

<sup>Created on 2022-08-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</detai

[2022-08-19 07:09] eblondel commented on #84
In context of ows4R, that's a complex issue, it deals with [geometa](https://github.com/eblondel/geometa) that I will tackle asap. For the timebeing, you have to import the package, and can't rely on the namespace approach. This said, using ows4R, you depend on geometa, so it's still valid approach to consider an import. In the case of WCS, as I said in another ticket, the Coverage description is

[2022-08-19 07:12] eblondel commented on #82
With respect to `range` and `rangeType`, see my comments at https://github.com/eblondel/ows4R/issues/80#issuecomment-1210284745

[2022-08-19 07:13] eblondel commented on #82
@annakrystalli for usage matters, could you use the Discussion panel? in case there is a bug or feature request, we will convert it to ticket

[2022-08-19 07:14] #82 closed, assigned to eblondel

[2022-08-19 09:56] eblondel opened #87 "Upgrade roxygen2 7.2.1 to fix html issues"

[2022-08-19 09:58] #87 closed

[2022-08-22 13:58] annakrystalli opened #88 "`describeCoverage` & `getCoverage` not returning all rangeType info for multiband coverages"
For the following RGB multiband coverage example, the `rangeType` object returned by `DescribeCoverage` only gives the details of the last band (BLUE).
[code]

<sup>Created on 2022-08-22 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

Using `https://geoserver.emodnet-physics.eu/geoser

[2022-08-29 09:30] annakrystalli opened #90 "Error when using summary$getCoverage() with `crs = NULL` (the default)"
`crs = null` appears to be the default for the `getCoverage()` method when using it both from a `summary` object or a `wcs` object (although not 100% percent clear from the docs, see https://github.com/eblondel/ows4R/discussions/89).

When I explicitly use this default in `wcs$getCoverage()` it works. However when I use it with `summary$getCoverage()` it throws an error. All other defaults work ho

[2022-08-29 09:31] annakrystalli commented on #90
It would also be great if you could address https://github.com/eblondel/ows4R/discussions/89 as I need to provide more detail to our users on what arguments are and what type of values are accepted for each.

[2022-08-30 10:03] annakrystalli opened #91 "When using `getCoverage()`, file downloads by default, not just when `filename` provided"
The documentation gives the impression that files are written out only when argument `filename` is used.  https://github.com/eblondel/ows4R/blob/48874771973249efd16acaf8b342e620af92887c/vignettes/wcs.Rmd#L115

However `getCoverage()` always downloads and writes out a file, regardless of whether a filename has been provided. This ends up polluting the working directory (e,g my  `EMODnetWCS` package

[2022-08-30 10:43] annakrystalli commented on #88
Hey @eblondel , any updates on this? Sorry to pester but at this point, this issue is holding up `EMODnetWCS` development.

[2022-08-30 10:46] annakrystalli commented on #84
I've included a workaround for this (i.e. loading the package on loading of `EMODnetWCS`) P.S. I had to load `ows4R` not `geometa` for it to work so the class appears to be internal to `ows4R`.

[2022-09-07 15:56] annakrystalli commented on #90
Same behaviour if `bbox` is `NULL`

[2022-09-16 15:06] annakrystalli opened #93 "Arguments `crs` & `gridbaseCRS` don't seem to affect the response from a `getCoverage` request"
I'm trying to demonstrate in the `EMODnetWCS` docs how to download a coverage with the response being in a different CRS to the original coverage CRS.

I'm having a hard time understanding how to use the `crs`  and `gridbaseCRS`. As mentioned in #89, the documentation for the arguments is very minimal so I'm not even sure which one I'm supposed to use or whether I'm supplying the correct input.

T

[2022-09-26 14:57] eblondel commented on #81
@annakrystalli i'm afraid the info is given in two distinct SRS and not EPSG:3857 for both:

* the bounding box retrived through `summary$BoundingBox$BoundingBox$getBBOX()` is retrieved through the WCS Capabilities document, and indeed srs is EPSG:3857

![image](https://user-images.githubusercontent.com/1324396/192309480-f031f930-c464-4488-88cb-486245d0e73d.png)

Still if you do `summary$getBoundi

[2022-09-26 15:07] eblondel commented on #88
Hi @annakrystalli back from annual leave, i 'll look asap why multiple fields are not kept although not tackled as proper SWE bindings, and we get only one. I will create a ticket in geometa. It's a tricky issue but i'll do my best to solve it asap so you can keep going on EMODnetWCS devs.

Behind that, this deals with generic types defined [geometa](https://github.com/eblondel/geometa) that depen

[2022-09-26 16:27] annakrystalli commented on #88
Great! And thanks for the background info.

[2022-09-26 21:50] eblondel commented on #88
@annakrystalli Please update [geometa](https://github.com/eblondel/geometa) from Github. I've added the SWE `DataRecord` and fixed issue dealing with decoding. With this, you will get the `rangeType` as `SWEDataRecord` (from geometa binding), including the lit of fields.

Code:

[code]
Output:

[code]

[2022-09-27 09:11] annakrystalli commented on #88
Awesome! Thanks @eblondel !

[2022-09-27 09:12] #88 closed

[2022-09-29 12:15] annakrystalli commented on #88
Just looking into this today and although I can now get info on all bands, I cannot get `nilValues` anymore:

[code]

<sup>Created on 2022-09-29 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

`nilValue` is returned by the server though:

https://github.com/EMODnet/EMODnetWCS/blob/ca4ffe9603381112654e249a33c97bf9872e0259/tests/fixtures/biology-description/geo.vliz.be/geoserver/Emodnetbio

[2022-09-29 13:07] annakrystalli commented on #88
BTW do you know when the dependency of `ows4R` on the corrected version of `geometa` will be formalised, either here or on CRAN?

Currently if someone installs `EMODnetWCS` (or latest dev version of `ows4R` from GitHub which `EMODnetWCS` currently requires) they do not get the right version of `geometa` installed by default. I tried adding the dev version of `geometa` as an explicit dependency of

[2022-09-29 13:10] eblondel commented on #88
@annakrystalli Sorry for that you are right. Doing it right now.

[2022-09-29 13:16] eblondel commented on #88
@annakrystalli For the `nilValues` can you send me an example of coverage description concerned by that? thanks

[2022-09-29 13:24] annakrystalli commented on #88
Sorry, how do you mean? The example I gave should be retuning the `nilValue` (it did with the previous version and I had written a function to extract it: https://emodnet.github.io/EMODnetWCS/reference/emdn_get_bbox.html) but isn't at all anymore so no way to adjust the function as I did for band descriptions, uoms etc.  Here's the relevant section of the server response to the getDescription() re

[2022-09-29 13:29] eblondel commented on #88
Yes thanks for the xml example. `nilValues` here are yet another binding not yet added in geometa... I will have to support it there

[2022-09-29 14:28] eblondel commented on #88
@annakrystalli ok you can reinstall geometa from github.
I've enabled the decoding of nilvalues. SWE is still at experimental by the way...
Normally you should get something like

[code]

[2022-09-29 15:03] annakrystalli commented on #88
excellent thank you! I'll test it out now

[2022-09-30 21:48] eblondel commented on #88
@annakrystalli SWE support in geometa is still experimental, so there may be changes in the way SWE objects are modelled. SWE introduces some more challenges in geometa to support generic encoding/decoding of XML. for WCS support we are more focusing on decoding, but for next needs in ows4R (in particular for SOS support) the SWE encoding is key.

In particular for the above, the `nilValue` will i

[2022-10-18 07:37] #81 closed

[2022-10-18 13:40] eblondel commented on #84
@annakrystalli can you please re-install [geometa](https://github.com/eblondel/geometa) and ows4R, and retry the above code? The problem is related to the fact that `WCSCoverageDescription` inherits from a specific GML binding that is managed in geometa. Because it's part of geometa package, with the `ows4R::` approach, ows4R decoding (which approach consist in loading the appropriate binding from

[2022-10-20 07:14] annakrystalli opened #96 "`summary$getDimensions()` not returning coefficients anymore"
See example below:

[code]

<sup>Created on 2022-10-20 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

Importantly, the [WCS vignette](https://eblondel.github.io/ows4R/articles/wcs.html#describe-a-coverage-describecoverage) still shows this method should work for getting coefficients

[2022-10-20 07:16] annakrystalli commented on #84
Thanks @eblondel , this works now.

[2022-10-20 07:19] #84 closed

[2022-10-20 14:06] eblondel commented on #96
I'll let you know, the fact we rely on proper binding from geometa, I see we miss GMLCOV Extension element managed in geometa. In the past this was managed through ows4R `WCSGSTimeDomain` clas but not anymore. I'm working on it

[2022-10-20 14:38] eblondel commented on #96
Correction: it's supported, but we have an issue here again with the namespace loading approach

[2022-10-20 20:59] eblondel commented on #96
@annakrystalli you should update geometa and ows4R , next test it again, this should work.

[2022-10-21 05:32] annakrystalli commented on #96
Great! Could you bump the version so I can pin it as a minimum version in EMODnetWCS?

[2022-10-21 07:29] eblondel commented on #96
pending rev is 0.3-2 on github (0.3-1 on CRAN). I don't use extended 900x dev rev numbers, but update pkg date, but I can increment dev versions if you think it's needed.
I'm also moving some pkgs that are set in depends to Imports, and i've put a min version of geometa (--> the one on Github).
I hope to publish soon geometa on CRAN, afterwhat i will be able to push the current ows4R revision in C

[2022-10-27 07:01] eblondel opened #97 "Web Map Tile Service (WMTS) support"

[2022-10-28 08:58] #96 closed